{{#if this.empty}}
    <div class="w-full max-w-4xl mx-auto mt-8">
        No user.
    </div>
{{else}}
    <div class="w-full max-w-4xl mx-auto mt-8">
        <div class="flex justify-between items-center">
            <div class="text-2xl font-semibold my-4 text-cyan-700">User</div>

            <div x-data="{ showModal : false }">
                <button @click="showModal=true"
                        class="font-semibold text-md  px-4 py-1  border border-cyan-700 ml-2 bg-white hover:bg-gray-300"><i
                        class="fa fa-plus" aria-hidden="true">
                </i> ADD
                </button>
            </div>
        </div>

        <div class="p-3 bg-white shadow-lg rounded-sm border border-gray-200 mt-4">
            <div class="overflow-x-auto">
                <table class="table-auto w-full">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Phone Number</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Email</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Full name</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Address</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center">Edit</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-sm divide-y divide-gray-100">
                    {{#each this.listAccount}}
                        <tr>
                            <td class="p-2 whitespace-nowrap">
                                    {{phone}}
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{email}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{name}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{address}}</div>
                            </td>
                            <td class="p-2 flex justify-center">
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/if}}