{{#if this.empty}}
    <div class="w-full max-w-4xl mx-auto mt-8">
        No Product.
    </div>
{{else}}
    <form class="hidden" id="deletePost" action = "/admin/product/deletePost" method = "post">
        <input x-show ="false" name = "ProID" id="txtProID">
    </form>

    <div class="w-full max-w-4xl mx-auto mt-8">
        <div class="flex justify-between items-center">
            <div class="text-2xl font-semibold my-4 text-cyan-700">Product</div>
        </div>

        <div class="p-3 bg-white shadow-lg rounded-sm border border-gray-200 mt-4">
            <div class="overflow-x-auto">
                <table class="table-auto w-full">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Tên Sản Phẩm</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Người Bán</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Giá</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Ngày Bán</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Tình Trạng</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Trạng Thái</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-sm divide-y divide-gray-100">
                    {{#each this.listPost}}
                        <tr>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{title}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{userId.name}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{Format_price price}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{format_no_h createdAt}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{statusTemp}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{statusPostTemp}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <button data-id="{{_id}}"  class="delete font-semibold cursor-pointer text-md hover:bg-red-800 px-6 py-2 text-white  bg-red-700">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/if}}

<script>
    $(".delete").click(function (e) {
        Swal.fire({
            title: 'Bạn chắc chắn muốn xóa?',
            showCancelButton: true,
            confirmButtonText: 'Xóa',
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Xóa thành công!', '', 'success').then((value) =>{
                    const id = $(this).attr("data-id");
                    $('#txtProID').val(id);
                    $('#deletePost').submit();
                });
            }
        })
    })

    $(".edit").click(function (e) {

    })


</script>