{{#if this.empty}}
    <div class="w-full max-w-4xl mx-auto mt-8">
        No Product.
    </div>
{{else}}
    <form class="hidden" id="confirmPost" action = "/admin/product-request/confirmPost" method = "post">
        <input x-show ="false" name = "ProID" id="txtProID">
    </form>

    <form class="hidden" id="refusePost" action = "/admin/product-request/refusePost" method = "post">
        <input x-show ="false" name = "ProID" id="txtProID1">
    </form>

    <div class="w-full max-w-4xl mx-auto mt-8">
        <div class="flex justify-between items-center">
            <div class="text-2xl font-semibold my-4 text-cyan-700">Product Request</div>
        </div>

        <div class="p-3 bg-white shadow-lg rounded-sm border border-gray-200 mt-4">
            <div class="overflow-x-auto">
                <table class="table-auto w-full">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Tên Sản Phẩm</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Người Bán</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Giá</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Ngày Bán</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Tình trạng</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-sm divide-y divide-gray-100">
                    {{#each this.listPost}}
                        <tr>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{title}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{userId.name}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{Format_price price}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{format_no_h createdAt}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">{{statusTemp}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <button data-id="{{_id}}"  class="confirm font-semibold cursor-pointer text-md hover:bg-red-800 px-6 py-2 text-white  bg-yellow-700">
                                    Xác nhận
                                </button>
                                <button data-id="{{_id}}"  class="refuse font-semibold cursor-pointer text-md hover:bg-red-800 px-6 py-2 text-white  bg-red-700">
                                    Từ chối
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/if}}

<script>
    $(".confirm").click(function (e) {
        Swal.fire({
            title: 'Bạn chắc chắn muốn xác nhận?',
            showCancelButton: true,
            confirmButtonText: 'Xác nhận',
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Xác nhận thành công!', '', 'success').then((value) =>{
                    const id = $(this).attr("data-id");
                    $('#txtProID').val(id);
                    $('#confirmPost').submit();
                });
            }
        })
    })

    $(".refuse").click(function (e) {
        Swal.fire({
            title: 'Bạn chắc chắn muốn từ chối?',
            showCancelButton: true,
            confirmButtonText: 'Từ chối',
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Từ chối thành công!', '', 'success').then((value) =>{
                    const id = $(this).attr("data-id");
                    $('#txtProID1').val(id);
                    $('#refusePost').submit();
                });
            }
        })
    })
</script>