<div class="m-auto" style="width:700px">
    <h2 class="text-gray-800 text-2xl font-bold text-center mb-4 md:mb-6 lg:text-3xl xl:text-yellow-500">Thông tin cá nhân</h2>
    <div class="flex md:flex-row flex-col w-full mt-4">
        <div class="w-44 h-44 rounded-full overflow-hidden">
            <img src="https://herrmans.eu/wp-content/uploads/2019/01/765-default-avatar.png"></img>
        </div>
        <div class="w-full">
            <form class="pl-10" method="post" action="/editProfile" autocomplete="off">
                <div>Họ và tên</div>
                <input class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" type="text" id="name" name="name" value="{{user.name}}">
                <div>Số điện thoại</div>
                <input class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" type="text" id="phone" value="{{user.phone}}" disabled="true">
                <div>Email</div>
                <input class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" type="email" id="email" name="email" value="{{user.email}}" disabled="true">
                <div>Địa chỉ</div>
                <input class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" type="text" id="address" name="address" value="{{user.address}}">
                <div>Số CMND/Thẻ căn cước</div>
                <input class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" type="text" id="CMND" name="cmnd" value="{{user.cmnd}}">
                <div>Giới tính</div>
                <select class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" id="gender" name="gender">
                    {{#if isUndefine}}
                        <option value=0 selected disabled>Chưa có thông tin</option>
                        <option value=1>Nam</option>
                        <option value=2>Nữ</option>
                        <option value=3>Giới tính khác</option>
                    {{else}}
                        {{#if isMan}}
                            <option value=0>Chưa có thông tin</option>
                            <option value=1 selected>Nam</option>
                            <option value=2>Nữ</option>
                            <option value=3>Giới tính khác</option>
                        {{else}}
                            {{#if isWoman}}
                                <option value=0>Chưa có thông tin</option>
                                <option value=1>Nam</option>
                                <option value=2 selected>Nữ</option>
                                <option value=3>Giới tính khác</option>
                            {{else}}
                                <option value=0>Chưa có thông tin</option>
                                <option value=1>Nam</option>
                                <option value=2>Nữ</option>
                                <option value=3 selected>Giới tính khác</option>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </select>
                <div>Ngày sinh</div>
                <input class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" type="date" id="dob" name="dob" value={{user.dob}}>
                <button class="inline-block bg-yellow-500 hover:bg-yellow-600 active:bg-yellow-700 focus-visible:ring ring-yellow-300 text-white text-sm font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 md:text-base xl:bg-yellow-500 xl:mt-6" type="submit">Lưu thay đổi</button>
            </form>
        </div>
    </div>
</div>