<div class="m-auto" style="width:700px">
    <div class="text-2xl text-yellow-500 border-b pb-4">Thông tin cá nhân</div>
    <div class="flex md:flex-row flex-col w-full mt-4">
        <div class="w-44 h-44 rounded-full overflow-hidden">
            <img src="https://herrmans.eu/wp-content/uploads/2019/01/765-default-avatar.png"></img>
        </div>
        <div class="w-full">
            <form class="pl-10" method="post" action="/editProfile" autocomplete="off">
                <div>Họ và tên</div>
                <input class="bg-gray-200 w-full focus:outline-none px-2 py-1 rounded-md mb-3" type="text" id="name" name="name" value="{{user.name}}">
                <div>Số điện thoại</div>
                <input class="bg-gray-200 w-full focus:outline-none px-2 py-1 rounded-md mb-3" type="text" id="phone" value="{{user.phone}}" disabled="true">
                <div>Email</div>
                <input class="bg-gray-200 w-full focus:outline-none px-2 py-1 rounded-md mb-3" type="email" id="email" name="email" value="{{user.email}}">
                <div>Địa chỉ</div>
                <input class="bg-gray-200 w-full focus:outline-none px-2 py-1 rounded-md mb-3" type="text" id="address" name="address" value="{{user.address}}">
                <div>Số CMND/Thẻ căn cước</div>
                <input class="bg-gray-200 w-full focus:outline-none px-2 py-1 rounded-md mb-3" type="text" id="CMND" name="cmnd" value="{{user.cmnd}}">
                <div>Giới tính</div>
                <select class="bg-gray-200 w-full focus:outline-none px-2 py-1 rounded-md mb-3" id="gender" name="gender">
                    {{#if isUndefine}}
                        <option value=0 selected disabled>Chưa có thông tin</option>
                        <option value=1>Nam</option>
                        <option value=2>Nữ</option>
                        <option value=3>Giới tính khác</option>
                    {{else}}
                        {{#if isMan}}
                            <option value=0>Chưa có thông tin</option>
                            <option value=1 selected>Nam</option>
                            <option value=2>Nữ</option>
                            <option value=3>Giới tính khác</option>
                        {{else}}
                            {{#if isWoman}}
                                <option value=0>Chưa có thông tin</option>
                                <option value=1>Nam</option>
                                <option value=2 selected>Nữ</option>
                                <option value=3>Giới tính khác</option>
                            {{else}}
                                <option value=0>Chưa có thông tin</option>
                                <option value=1>Nam</option>
                                <option value=2>Nữ</option>
                                <option value=3 selected>Giới tính khác</option>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </select>
                <div>Ngày sinh</div>
                <input class="bg-gray-200 w-full focus:outline-none px-2 py-1 rounded-md mb-5" type="date" id="dob" name="dob" value={{user.dob}}>
                <button class="bg-yellow-500 text-white rounded-lg text-md py-2 w-full" type="submit">Lưu thay đổi</button>
            </form>
        </div>
    </div>
</div>